<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python aplikacija</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/"> Početna </a></li>
            <li><a href="/zagreb"> Zagreb </a></li>
            <li><a href="/split"> Split </a></li>
            <li><a href="/osijek"> Osijek</a></li>
        </ul>
    </nav>


    {% block content %}
    {% endblock content %}


</body>
</html>